<!DOCTYPE html>
<html>
<head>
    <title>Trang chủ</title>
    <meta charset="utf-8" />
    <link href="../../Content/global.css" rel="stylesheet" />
</head>
<body class="home blog custom-background header-full-width sidebar-content">
    <div class="site-container">
        <header class="site-header" role="banner">
            <div class="header-logo">
                <a class="banner-mobile" href="http://luatapollo.com" title="Luật APOLLO">
                    <img src="//luatapollo.com/wp-content/uploads/2016/11/Banner-2.png" alt="Luật APOLLO">
                </a>
            </div>
        </header>

        <nav class="nav-primary" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
            <div class="wrap">
                <ul id="menu-top-menu" class="menu genesis-nav-menu menu-primary">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1850"><a href="http://luatapollo.com/">Trang chủ</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1851"><a href="http://luatapollo.com/trang-mau/">Giới thiệu</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2045"><a href="http://luatapollo.com/dan-su/">dân sự</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-2048"><a href="http://luatapollo.com/dan-su/">Hình sự</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2049"><a href="http://luatapollo.com/hon-nhan/">hôn nhân</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2047"><a href="http://luatapollo.com/dat-dai/">đất đai</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2050"><a href="http://luatapollo.com/lao-dong/">lao động</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2046"><a href="http://luatapollo.com/doanh-nghiep/">doanh nghiệp</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2051"><a href="http://luatapollo.com/so-huu-tri-tue/">sở hữu trí tuệ</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2052"><a href="http://luatapollo.com/thue/">thuế</a></li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2044"><a href="http://luatapollo.com/bieu-mau/">biểu mẫu</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1857"><a href="http://luatapollo.com/lien/">Liên hệ</a></li>
                </ul>
            </div>
        </nav>

        <div class="site-inner">
            <div class="metaslider metaslider-nivo metaslider-1705 ml-slider">
                <div id="metaslider_container_1705">
                    <div class="slider-wrapper theme-default">
                        <div id="metaslider_1705" class="nivoSlider">
                            <div class="nivo-box">
                                <img src="http://luatapollo.com/wp-content/uploads/2016/11/slider.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-sidebar-wrap">
            <main class="content" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
                <h2 class="heading"> <a href="http://luatapollo.com/dan-su/" title="dân sự"> dân sự </a></h2>
                <div class="clear"></div>
                <div class="news-list">
                    <div class="style-blog-2 rt-shortcodes rt-blog-shortcode">
                        <div class="fusion-row">
                            <article id="post-2095" class="element post-item fusion-one-third fusion-spacing-yes fusion-layout-column  post-2095 post type-post status-publish format-standard has-post-thumbnail category-bieu-mau category-dan-su category-doanh-nghiep category-dat-dai category-hinh-su category-hon-nhan category-lao-dong category-luat-dan-su category-luat-doanh-nghiep category-luat-hinh-su category-luat-hon-nhan category-luat-lao-dong category-so-huu-tri-tue category-thue category-tin-tuc category-tin-tuc-su-kien entry">
                                <div class="post-inner">
                                    <div class="entry-thumb">
                                        <a href="http://luatapollo.com/luat-hon-nhan-va-gia-dinh/" title="luật hôn nhân và gia đình"><img width="235" height="157" src="http://luatapollo.com/wp-content/uploads/2016/11/3-235x157.jpg" class="attachment-rt_thumb235x157 size-rt_thumb235x157 wp-post-image" alt="3" srcset="http://luatapollo.com/wp-content/uploads/2016/11/3-235x157.jpg 235w, http://luatapollo.com/wp-content/uploads/2016/11/3-300x200.jpg 300w, http://luatapollo.com/wp-content/uploads/2016/11/3.jpg 600w" sizes="(max-width: 235px) 100vw, 235px"></a>
                                        <p class="timestyle5" style="display:none;">14/11/2016</p>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title">
                                            <a href="http://luatapollo.com/luat-hon-nhan-va-gia-dinh/" title="luật hôn nhân và gia đình">luật hôn nhân và gia đình</a>
                                        </h3>
                                        <div class="entry-description">
                                            Du học Anh Quốc là một điểm đến được nhiều lựa chọn của sinh viên quốc tế. Ở Anh Quốc, bạn có cơ hội chọn cho mình một ngành nghề yêu thích và có nhiều triển vọng. Trong tất cả các ngành, bạn có thể tìm hiểu và tham khảo thêm ngành luật cho những […]
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id="post-2094" class="element post-item fusion-one-third fusion-spacing-yes fusion-layout-column  post-2094 post type-post status-publish format-standard has-post-thumbnail category-bieu-mau category-dan-su category-doanh-nghiep category-dat-dai category-hinh-su category-hon-nhan category-lao-dong category-luat-dan-su category-luat-doanh-nghiep category-luat-hinh-su category-luat-hon-nhan category-luat-lao-dong category-so-huu-tri-tue category-thue category-tin-tuc category-tin-tuc-su-kien entry">
                                <div class="post-inner">
                                    <div class="entry-thumb">
                                        <a href="http://luatapollo.com/kien-thuc-luat-dan-su/" title="kiến thức luật dân sự">
                                            <img width="235" height="157" src="http://luatapollo.com/wp-content/uploads/2016/11/5-235x157.jpg"
                                                 class="attachment-rt_thumb235x157 size-rt_thumb235x157 wp-post-image" alt="5" srcset="http://luatapollo.com/wp-content/uploads/2016/11/5-235x157.jpg 235w, http://luatapollo.com/wp-content/uploads/2016/11/5-300x200.jpg 300w, http://luatapollo.com/wp-content/uploads/2016/11/5.jpg 600w" sizes="(max-width: 235px) 100vw, 235px">
                                        </a>
                                        <p class="timestyle5" style="display:none;">14/11/2016</p>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title">
                                            <a href="http://luatapollo.com/kien-thuc-luat-dan-su/" title="kiến thức luật dân sự">kiến thức luật dân sự</a>
                                        </h3>
                                        <div class="entry-description">Du học Anh Quốc là một điểm đến được nhiều lựa chọn của sinh viên quốc tế. Ở Anh Quốc, bạn có cơ hội chọn cho mình một ngành nghề yêu thích và có nhiều triển vọng. Trong tất cả các ngành, bạn có thể tìm hiểu và tham khảo thêm ngành luật cho những […]</div>
                                    </div>
                                </div>
                            </article>
                            <article id="post-2091" class="element post-item fusion-one-third fusion-spacing-yes fusion-layout-column fusion-column-last post-2091 post type-post status-publish format-standard has-post-thumbnail category-bieu-mau category-dan-su category-doanh-nghiep category-dat-dai category-hinh-su category-hon-nhan category-lao-dong category-luat-dan-su category-luat-doanh-nghiep category-luat-hinh-su category-luat-hon-nhan category-luat-lao-dong category-so-huu-tri-tue category-thue category-tin-tuc category-tin-tuc-su-kien entry">
                                <div class="post-inner">
                                    <div class="entry-thumb">
                                        <a href="http://luatapollo.com/kien-thuc-luat-hinh-su/" title="kiến thức luật hình sự">
                                            <img width="235" height="157" src="http://luatapollo.com/wp-content/uploads/2016/11/1-235x157.jpg" class="attachment-rt_thumb235x157 size-rt_thumb235x157 wp-post-image" alt="1" srcset="http://luatapollo.com/wp-content/uploads/2016/11/1-235x157.jpg 235w, http://luatapollo.com/wp-content/uploads/2016/11/1-300x200.jpg 300w, http://luatapollo.com/wp-content/uploads/2016/11/1.jpg 600w" sizes="(max-width: 235px) 100vw, 235px">
                                        </a><p class="timestyle5" style="display:none;">14/11/2016</p>
                                    </div>
                                    <div class="entry-content">
                                        <h3 class="entry-title">
                                            <a href="http://luatapollo.com/kien-thuc-luat-hinh-su/" title="kiến thức luật hình sự">kiến thức luật hình sự</a>
                                        </h3>
                                        <div class="entry-description">Du học Anh Quốc là một điểm đến được nhiều lựa chọn của sinh viên quốc tế. Ở Anh Quốc, bạn có cơ hội chọn cho mình một ngành nghề yêu thích và có nhiều triển vọng. Trong tất cả các ngành, bạn có thể tìm hiểu và tham khảo thêm ngành luật cho những […]</div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="fusion-row"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
